<div class="filme-principal">
    <div class="container">
        <h3 class="titulo">GAME OF THRONES</h3>
        <p class="descricao">Em uma terra onde os verões podem durar vários anos e o inverno toda uma vida, sete nobres famílias lutam pelo controle da mítica terra de Westeros, dividida depois de uma guerra. Num cenário que lembra a Europa medieval, reis, rainhas, cavaleiros e renegados usam todos os meios possíveis em um jogo político pela disputa do Trono de Ferro, o símbolo do poder absoluto.</p>
        <div class="botoes">
            <button role="button" class="botao"><fa-icon [icon]="faPlay"></fa-icon>ASSISTIR AGORA</button>
            <button role="button" class="botao"><fa-icon [icon]="faInfoCircle"></fa-icon>MAIS INFORMAÇÕES</button>
        </div>
    </div>
</div>